process {

    withLabel:      'process_high' {
        memory    =   180.GB
        time      =   48.h
        cpus      =   50
    }
    withLabel:      'process_medium' {
        memory    =   50.GB
        time      =   25.h
        cpus      =   32
    }
    withLabel:      'process_low' {
        memory    =   16.GB
        time      =   8.h
        cpus      =   16
    }
    withLabel:      'process_single' {
        memory    =   40.GB
        time      =   5.h
    } 

    // Define singularity containers for each process or define docker container registery

    withName : FASTP_NO_UMI {
        publishDir = [
            path: { "${params.outdir}/${params.subdir}/fastp" },
            mode: 'copy',
            overwrite: true,
            pattern : "*fastp.{json,html}"
        ]
        container = '/fs1/saile/prj/container/fastp.sif'    
    } 


    withName : CONVERT_FASTQ_TO_BAM {
        
        container = '/fs1/saile/prj/container/picard.sif'    
    } 


    withName : EXTRACT_UMI {

        container = '/fs1/saile/prj/container/fgbio_2.0.2.sif'    
    } 


    withName : BAM_TO_FASTQ {

        container = '/fs1/saile/prj/container/picard.sif'    
    } 


    withName : FASTP_POST_UMI {
        publishDir = [
            path: { "${params.outdir}/${params.subdir}/fastp" },
            mode: 'copy',
            overwrite: true,
            pattern : "*fastp.{json,html}"
        ]
        container = '/fs1/saile/prj/container/fastp.sif'    
    } 

    withName : SUBSAMPLE {
        container = '/fs1/saile/prj/container/sub_sample_container.sif'
    }

    /* withName : STAR {
        container = '/fs1/saile/prj/container/depot.galaxyproject.org-singularity-mulled-v2-1fa26d1ce03c295fe2fdcf85831a92fbcbd7e8c2-afaaa4c6f5b308b4b6aa2dd8e99e1466b2a6b0cd-0.img'
    }*/


    withName : STAR_ALIGNMENT {
            publishDir = [
            path: { "${params.outdir}/${params.subdir}/bam" },
            mode: 'copy',
            overwrite: true,
            pattern : "*.out"
        ]
        container = '/fs1/saile/prj/container/arriba_2.3.0--haa8aa89_0.sif'
    }

    withName : ARRIBA_ALIGN {
        container = '/fs1/saile/prj/container/arriba_2.3.0--haa8aa89_0.sif'
    }

    withName : ARRIBA_FUSCALL {
        container = '/fs1/saile/prj/container/arriba_2.3.0--haa8aa89_0.sif'
    }


    withName : ARRIBA_FILTER {
        container = '/fs1/resources/containers/rnaseqfus_active.sif'
        ext.args    = { "--g ${params.fusiongenelist_WTS}" }
        
    }

    withName : SAMTOOLS_SORT {
        container = '/fs1/saile/prj/container/depot.galaxyproject.org-singularity-samtools-1.15.1--h1170115_0.img'
        publishDir = [
            path: { "${params.outdir}/${params.subdir}/bam" },
            mode: 'copy',
            overwrite: true,
            pattern: "*.{bam,bai}"
        ]
    }

    withName : ADD_READ_GROUPS {
        container = '/fs1/saile/prj/container/picard.sif'
    }

    withName : MARK_DUPLICATES {
        container = '/fs1/saile/prj/container/picard.sif'
        publishDir = [
            path: { "${params.outdir}/${params.subdir}/bam" },
            mode: 'copy',
            overwrite: true,
            pattern: "*dedup.{bam,bai}"
        ]
    }   

    withName : COLLECT_INSERT_SIZE_METRICS {
        container = '/fs1/saile/prj/container/picard.sif'
        publishDir = [
            path: { "${params.outdir}/${params.subdir}/bam" },
            mode: 'copy',
            overwrite: true,
            pattern : "*.{pdf,txt}"
        ]
    }

    withName : INNER_DISTANCE {
        container = '/fs1/saile/prj/container/rseqc_5.0.3.sif'
        publishDir = [
            path: { "${params.outdir}/${params.subdir}/qc" },
            mode: 'copy',
            overwrite: true,
            pattern : "*.tsv"
        ]
    }

    withName : COLLECT_RNA_SEQ_METRICS {
        container = '/fs1/saile/prj/container/picard.sif'
        publishDir = [
            path: { "${params.outdir}/${params.subdir}/bam" },
            mode: 'copy',
            overwrite: true,
            pattern : "*rnaseq_metrics.txt"
        ]
    }

    withName : COLLECT_HSMETRICS {
        container = '/fs1/resources/containers/sentieon_202308.03.sif'
        publishDir = [
            path: { "${params.outdir}/${params.subdir}/bam" },
            mode: 'copy',
            overwrite: true,
            pattern : "*hs_metrics.txt"
        ]
    }

    withName : AGGREGATE_FUSION_PANEL  {
        publishDir = [
            path: { "${params.outdir}/${params.subdir}/finalResults" },
            mode: 'copy',
            overwrite: true,
            pattern : "*agg.vcf"
        ]
        container = '/fs1/resources/containers/rnaseqfus_active.sif'
	    containerOptions = '--bind /fs1/saile/prj/nextflow_ST_rnaseqfus/bin/aggregate_fusions.pl:/opt/bin/aggregate_fusions.pl'
    }

    withName : AGGREGATE_FUSION_WTS  {
        publishDir = [
            path: { "${params.outdir}/${params.subdir}/finalResults" },
            mode: 'copy',
            overwrite: true,
            pattern : "*agg.vcf"
        ]
        container = '/fs1/resources/containers/rnaseqfus_active.sif'
	    containerOptions = '--bind /fs1/saile/prj/nextflow_ST_rnaseqfus/bin/aggregate_fusions.pl:/opt/bin/aggregate_fusions.pl'
    }

    withName : FILTER_FUSION {
        publishDir = [
            path: { "${params.outdir}/${params.subdir}/finalResults" },
            mode: 'copy',
            overwrite: true,
            pattern : "*.agg.filtered.vcf"
        ]
        container = '/fs1/resources/containers/rnaseqfus_active.sif'
    }

    withName : COYOTE {
        publishDir = [
            path: { "${params.crondir}/coyote" },
            mode: 'copy',
            overwrite: true,
            pattern : "*.coyote"
        ]
        container = '/fs1/resources/containers/rnaseqfus_active.sif'   
    }

    withName : ARRIBA_VISUALIZATION {
        publishDir = [
            path: { "${params.outdir}/${params.subdir}/finalResults" },
            mode: 'copy',
            overwrite: true,
            pattern : "*pdf"
        ]
        container = '/fs1/saile/prj/container/arriba_2.3.0--haa8aa89_0.sif'
    }

    withName : STARFUSION_FUSCALL {
        container = '/fs1/saile/prj/container/docker.io-trinityctat-starfusion-1.10.1.img'
    }

    withName : IGHDUX4_ALIGN {
        container = '/fs1/saile/prj/container/arriba_2.3.0--haa8aa89_0.sif'
    }

    withName : SAMTOOLS_INDEX {
        container = '/fs1/saile/prj/container/depot.galaxyproject.org-singularity-samtools-1.15.1--h1170115_0.img'
    } 

    withName : SAMTOOLS_VIEW_IGHDUX4 {
        container = '/fs1/saile/prj/container/IGHDUX4_ALIGN.sif'
    }
    
    withName : REALIGN_BWA {
        container = '/fs1/saile/prj/container/IGHDUX4_ALIGN.sif'
    }    

    withName : IGHDUX4_BREAKPOINT_DETECT {
        container = '/fs1/saile/prj/container/IGHDUX4_DETECT.sif'
    }   

/*     withName : FUSIONCATCHER {
        container = '/fs1/saile/prj/container/docker.io-clinicalgenomics-fusioncatcher-1.33.img'
    } */


    withName : FUSIONCATCHER {
        container = '/fs1/resources/containers/rnaseqfus_active.sif'
    } 

    
    withName : GENEBODY {
        container = '/fs1/resources/containers/rseqc_2022-10-19.sif'
        publishDir = [
            path: { "${params.outdir}/${params.subdir}/qc" },
            mode: 'copy',
            pattern: "*.cdm"
        ]
    }

    withName : DEEPTOOLS {
        container = '/fs1/resources/containers/deeptools_3.5.1--py_0.sif'
    }

    withName : PROVIDER {
        container = '/fs1/resources/containers/rnaseqfus_active.sif'
    }
    
    withName : QCEXTRACT_TWISTFUSION{
        container = '/fs1/resources/containers/RD_RNA_2022-06-17.sif'
        publishDir = [
            path: { "${params.outdir}/${params.subdir}/finalResults" },
            mode: 'copy',
            pattern: "*.STAR.rnaseq_QC"]
    }

    withName : QCEXTRACT_GMSV5{
        container = '/fs1/resources/containers/RD_RNA_2022-06-17.sif'
        publishDir = [
            path: { "${params.outdir}/${params.subdir}/finalResults" },
            mode: 'copy',
            pattern: "*.STAR.rnaseq_QC"]
    }

        withName : QCEXTRACT_WTS{
        container = '/fs1/resources/containers/rnaseqfus_active.sif'
        publishDir = [
            path: { "${params.outdir}/${params.subdir}/finalResults" },
            mode: 'copy',
            pattern: "*.STAR.rnaseq_QC"]
    }
    
    withName : CDM_REGISTER{
        container = '/fs1/resources/containers/rnaseqfus_active.sif'
        publishDir = [
            path: { "${params.crondir}/qc" },
            mode: 'copy',
            pattern: "*.cdm"
        ]
    }

    withName : MET_EGFR {
        container = '/fs1/resources/containers/rnaseqfus_active.sif'
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        cache = false
        container   = '/fs1/resources/containers/multiqc_1_14_0.img'
        publishDir  = [ 
                path: { "${params.outdir}/${params.subdir}/pipeline_info/" }, 
                mode: 'copy' , 
                overwrite: 'true' 
            ]
    }

    withName : SALMON {
        container = '/fs1/resources/containers/rnaseqfus_active.sif'
        publishDir = [ 
            path: "${params.outdir}/${params.subdir}/quant/",
            mode: 'copy',
            overwrite: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.when    = params.quant
        ext.args    = { "-i ${params.salmon_index_dir} -l A" }
    }

    withName : EXPRS_CLASS {
        container = '/fs1/resources/containers/rnaseqfus_active.sif'
        publishDir = [ 
            path: "${params.outdir}/${params.subdir}/finalResults/",
            mode: 'copy',
            overwrite: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.when    = params.classifier
        ext.args    = { "${params.genesOfInterest}" }
        ext.args2   = { "${params.reference_expression_all}" }
        ext.args3   = { "${params.hem_classifier_salmon} ${params.ensembl_annotation}" }
    }

}