// indentation is 2 spaces

singularity{
  enabled                       = true	
  runOptions                    = '--bind /fs1/ --bind /local/ --bind /fs2/ --bind /mnt/beegfs/ --no-home' 
}

env{
  SENTIEON_LICENSE              = '10.139.0.101:8990'
}

process.shell                   = ['/bin/bash', '-euo', 'pipefail']

params {

  /*  results dir */
  resultsdir                    = "/fs1/results"
  dev                           = false
  dev_suffix                    = ''
  if (params.dev) {
    dev_suffix                  = '_dev'
  }

  container_dir                 = '/fs1/resources/containers'
  container                     = "${params.container_dir}/rnaseqfus_active.sif"

  /*  UMI information */
  umi                           = false

  /*  Sumsampling parameters */
  subsampling                   = true
  subsampling_number            = 1000000000

  /*  Arriba parameters */
  refbase                       = '/fs1/resources/ref/hg38/star/star_hg38_nochr_index_2.7.8a/'

  //refbase = "/fs1/paul/RareDisease_RNA_workflow/star_hg38_nochr_index/"
  //refbase = "/fs1/resources/ref/hg38/data/star_refGenome_index/star_ref_index"

  fasta                         = "/fs1/resources/ref/hg38/fasta/GCA_000001405.15_GRCh38_no_alt_analysis_set_nochr.fna"
  fastaIndex                    = "/fs1/resources/ref/hg38/fasta/"
  gtf                           = "/fs1/resources/ref/hg38/data/gtf/gencode.v38.annotation_nochr.gtf"
  blacklists                    = "/fs1/resources/ref/hg38/data/arriba/blacklist_hg38_GRCh38_v2.3.0.tsv.gz"
  knownfusions                  = "/fs1/resources/ref/hg38/data/arriba/known_fusions_hg38_GRCh38_v2.3.0.tsv.gz"
  proteinDomains                = "/fs1/resources/ref/hg38/data/arriba/protein_domains_hg38_GRCh38_v2.3.0.gff3"
  cytobands                     = "/fs1/resources/ref/hg38/data/arriba/cytobands_hg38_GRCh38_v2.3.0.tsv"

  /*  Starfusion parameters */
  pairEnd                       = true // Currently run in the pairedEND mode with 2x150 bp setup
  refbase2                      = "/fs1/resources/ref/hg38/data/st_rna/ctat_genome_lib_build_dir/"

  /*  Fusion Catcher parameters */
  fusioncatcher                 = "/fs1/resources/ref/hg38/data/st_rna/human_v102/"

  /*  IGH-DUX4 workflow parameters  */
  params.customigh              = true
  ighdux4                       = "/fs1/resources/ref/hg38/data/IGH_DUX4/IGH_DUX4-reg_grch38.bed"


  /*  MET and EGFR exon_skipping */
  params.exon_skipping          = false
  metEgfr                       = "/fs1/resources/ref/hg38/data/exon_skipping/Twist_RNA_Design5.hg38.annotated.bed"

  /* Filter genes based on the designed geneprobes  */
  stgenePanel_file              = "/fs1/resources/ref/hg38/data/st_rna/ST_RNA_genes.tsv"

  /*  QC parameters */
  hg38_sizes                    = '/fs1/resources/ref/hg38/fasta/GCA_000001405.15_GRCh38_no_alt_analysis_set_nochr.chrom.sizes'
  ref_rseqc_bed                 = '/fs1/resources/ref/hg38/data/RseQC/Homo_sapiens.GRCh38.79.bed'
  ref_bed                       = '/fs1/resources/ref/hg38/data/provider/HPA_1000G_final_38.bed'
  ref_bedXY                     = '/fs1/resources/ref/hg38/data/provider/xy_38.bed'
}

profiles {
  
  GMS_ST_RNA_FUSION{

    params.outdir               = "${params.resultsdir}${params.dev_suffix}"
    params.subdir               = "solid_ST_RNA"
    params.tmp_dir              = "/local/scratch/"
    params.crondir              = "${params.outdir}/cron/"
    
    /* sample upto 10M reads */
    params.subsampling          = true
    params.subsampling_number   = 100000000 // Validation reads upto 10 mil 
    params.stgenePanel_file     = "/fs1/resources/ref/hg38/data/st_rna/ST_RNA_genes.tsv"

    /* PIPELINE PARAMS */
    params.umi                  = false  
    params.coyote_group         = "solidRNA_GMSv5"
    params.assay                = "rnaseqsolid"
    params.cdm                  = "solidRNA_GMSv5"

    //  MET and EGFR exon skipping/
    params.exon_skipping        = true
    params.metEgfr              = "/fs1/resources/ref/hg38/data/exon_skipping/Twist_RNA_Design5.hg38.annotated.bed"

    /*  QC parameters */
    params.ref_flat             = "/fs1/resources/ref/hg38/data/st_rna/ST_RNA_genes_annotation.refflat"
    params.probes               = "/fs1/resources/ref/hg38/data/st_rna/Twist_RNA.Design5.nochr.targets.interval_list"
    params.targets              = "/fs1/resources/ref/hg38/data/st_rna/Twist_RNA.Design5.nochr.targets.interval_list"
    params.panel_bed            = "/fs1/resources/ref/hg38/data/st_rna/sorted_ST_RNA_genes.bed"

    params.customDuxIgh         = false
    ighdux4                     = "/fs1/resources/ref/hg38/data/IGH_DUX4/IGH_DUX4-reg_grch38.bed"

    process {
      executor                  = 'slurm'
      queue                     = params.queue
      time                      = 48.h
      container                 = params.container
    }
  }

  TWIST_RNA_FUSION {

    params.outdir               = "${params.resultsdir}${params.dev_suffix}"
    params.subdir               = "twistrnafusionv1-0" // change this to the real subgroup "RNA-fusion" that needs to be done "rnafusion_ST_Panel_RNA" 
    params.tmp_dir              = "/local/scratch/"
    params.crondir              = "${params.outdir}/cron/"
    
    /* Subsampled to 30M  reads */
    params.subsampling          = true
    params.subsampling_number   = 65000000 // Validation reads uptp 30mil
    params.stgenePanel_file     = "/fs1/resources/ref/hg38/data/st_rna/Cegat_RNA_genes.tsv"

    /* PIPELINE PARAMS */
    params.umi                  = false
    params.coyote_group         = "twistrnafusionv1-0"  // Change to RNA-fusion later when added
    params.assay                = "RNA-fusionpanel"     // rnaseqfusionpanel
    params.cdm                  = "twistrnafusionv1-0"

    /*MET and EGFR exon skipping */
    params.exon_skipping        = true
    params.metEgfr              = "/fs1/resources/ref/hg38/data/exon_skipping/Twist_RNA_Design5.hg38.annotated.bed"

    /* qc parameters */
    params.ref_flat             = "/fs1/resources/ref/hg38/data/st_rna/Cegat_genes_annotation.refflat"
    params.probes               = "/fs1/resources/ref/hg38/data/st_rna/Cegat.targets.interval_list"
    params.targets              = "/fs1/resources/ref/hg38/data/st_rna/Cegat.targets.interval_list"
    params.panel_bed            = "/fs1/resources/ref/hg38/data/st_rna/sorted_cegat_genes.bed"

    params.customDuxIgh         = false
    ighdux4                     = "/fs1/resources/ref/hg38/data/IGH_DUX4/IGH_DUX4-reg_grch38.bed"

    process {
      executor                  = 'slurm'
      queue                     = params.queue
      time                      = 48.h
      container                 = params.container
    }
  }

  WTS_RNA_FUSION {
    
    params.outdir               = "${params.resultsdir}${params.dev_suffix}"
    params.subdir               = "rnaseq_fusion" 
    params.tmp_dir              = "/local/scratch/"
    params.crondir              = "${params.outdir}/cron/"
    
    /* Subsampled to 30M  reads */
    params.subsampling          = true
    params.subsampling_number   = 85000000   // Change the reads num to 100 mill or 85 mill
    // Needs to change this to appropriate genes for the fusion for both Hema and Solid fusions
    params.stgenePanel_file     = "/fs1/resources/ref/hg38/data/st_rna/Cegat_RNA_genes.tsv"

    /* PIPELINE PARAMS */
    params.umi                  = false
    params.coyote_group         = "fusion"  // Change to RNA-fusion later when added
    params.assay                = "wts_rnafusion"     // rnaseqfusionpanel
    params.cdm                  = "rnaseq-fusion"

    /*MET and EGFR exon skipping */
    params.exon_skipping        = false
    params.metEgfr              = "/fs1/resources/ref/hg38/data/exon_skipping/Twist_RNA_Design5.hg38.annotated.bed"

    params.customDuxIgh          = true
    ighdux4                      = "/fs1/resources/ref/hg38/data/IGH_DUX4/IGH_DUX4-reg_grch38.bed"

    /* Change this parameter for the rnaseq whole transcriptp,ocs qc parameters */
    params.ref_flat             = "/fs1/resources/ref/hg38/data/st_rna/Cegat_genes_annotation.refflat"
    params.probes               = "/fs1/resources/ref/hg38/data/st_rna/Cegat.targets.interval_list"
    params.targets              = "/fs1/resources/ref/hg38/data/st_rna/Cegat.targets.interval_list"
    params.panel_bed            = "/fs1/resources/ref/hg38/data/st_rna/sorted_cegat_genes.bed"
    
    process {
      executor                  = 'slurm'
      queue                     = params.queue
      time                      = 48.h
      container                 = params.container
    }
  
  }
  
  TEST_PROFILE {
    params.profile              = "TEST_PROFILE"
    params.outdir               = "${params.resultsdir}${params.dev_suffix}"
    params.subdir               = "rnaseq_fusion" 
    params.tmp_dir              = "/local/scratch/"
    params.crondir              = "${params.outdir}/cron/"
    
    /* Subsampled to 30M  reads */
    params.subsampling          = true
    params.subsampling_number   = 1000000   // Change the reads num to 100 mill or 85 mill
    // Needs to change this to appropriate genes for the fusion for both Hema and Solid fusions
    params.stgenePanel_file     = "/fs1/resources/ref/hg38/data/st_rna/Cegat_RNA_genes.tsv"

    /* PIPELINE PARAMS */
    params.umi                  = false
    params.coyote_group         = "fusion"  // Change to RNA-fusion later when added
    params.assay                = "wts_rnafusion"     // rnaseqfusionpanel
    params.cdm                  = "rnaseq-fusion"

    /*MET and EGFR exon skipping */
    params.exon_skipping        = false
    params.metEgfr              = "/fs1/resources/ref/hg38/data/exon_skipping/Twist_RNA_Design5.hg38.annotated.bed"

    params.customDuxIgh          = true
    ighdux4                      = "/fs1/resources/ref/hg38/data/IGH_DUX4/IGH_DUX4-reg_grch38.bed"

    /* Change this parameter for the rnaseq whole transcriptp,ocs qc parameters */
    params.ref_flat             = "/fs1/resources/ref/hg38/data/st_rna/Cegat_genes_annotation.refflat"
    params.probes               = "/fs1/resources/ref/hg38/data/st_rna/Cegat.targets.interval_list"
    params.targets              = "/fs1/resources/ref/hg38/data/st_rna/Cegat.targets.interval_list"
    params.panel_bed            = "/fs1/resources/ref/hg38/data/st_rna/sorted_cegat_genes.bed"

  }

}

manifest {
  description                   = "A RNA seq fusion pipeline for tumor/normal or tumor sample"
  nextflowVersion               = "> 20.07.1"
}

includeConfig 'configs/modules.config'


trace {
  overwrite                     = true
}